<div class="row">
    <div class="col-sm-6">
        {{outlet tasks-list}}
    </div>
    <div class="col-sm-6">
        <div class="row pomodoro">
            <h2>Pomodoro</h2>

            <div class="clock">24:59</div>
        </div>
        {{outlet}}
    </div>
</div>
